<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999640456438-6juo883sg9a3qecc6pr3uin0q5fsmutc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999640456438-6juo883sg9a3qecc6pr3uin0q5fsmutc</string>
	<key>API_KEY</key>
	<string>AIzaSyBJq8PRKAlfVJQRqucuXD50r-bHVaccyd8</string>
	<key>GCM_SENDER_ID</key>
	<string>999640456438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebasenotification</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-abebb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-abebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999640456438:ios:5b77644f8c3e4f72f920d7</string>
</dict>
</plist>